<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangcloud.noah.dao.mapper.SecretKeyMapper">
    <sql id="base_columns">
		 id,
        app_version_begin,
        app_version_end,
        device_type,
        public_key,
        private_key,
        valid
	</sql>

    <resultMap id="BaseResultMap" type="com.fangcloud.noah.dao.entity.SecretKeyEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="app_version_begin" property="appVersionBegin" jdbcType="VARCHAR"/>
        <result column="app_version_end" property="appVersionEnd" jdbcType="VARCHAR"/>
        <result column="device_type" property="deviceType" jdbcType="INTEGER"/>
        <result column="public_key" property="publicKey" jdbcType="VARCHAR"/>
        <result column="private_key" property="privateKey" jdbcType="VARCHAR"/>
        <result column="valid" property="valid" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" parameterType="com.fangcloud.noah.dao.entity.SecretKeyEntity">
        insert INTO secret_key (
        app_version_begin,
        app_version_end,
        device_type,
        public_key,
        private_key,
        valid
        )
        values (
        #{appVersionBegin,jdbcType=VARCHAR},
        #{appVersionEnd,jdbcType=VARCHAR},
        #{deviceType,jdbcType=INTEGER},
        #{publicKey,jdbcType=VARCHAR},
        #{privateKey,jdbcType=VARCHAR},
        #{valid,jdbcType=INTEGER}
        )
    </insert>


    <select id="selectValidSecretKeys" resultMap="BaseResultMap">
        SELECT
        <include refid="base_columns">
        </include>
        FROM secret_key
        where valid = 1
    </select>

</mapper>